In [144]:
import numpy as np
import pandas as pd
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag

In [145]:
News=pd.read_csv('FinancialPhraseBank.csv',encoding='latin-1')

In [146]:
News.head()

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
0,neutral,Technopolis plans to develop in stages an area...
1,negative,The international electronic industry company ...
2,positive,With the new production plant the company woul...
3,positive,According to the company 's updated strategy f...
4,positive,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...

In [147]:
News.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4845 entries, 0 to 4844
Data columns (total 2 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   neutral                                                                                                                          4845 non-null   object
 1   According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .  4845 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [148]:
News.describe()

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
count,4845,4845
unique,3,4837
top,neutral,TELECOMWORLDWIRE-7 April 2006-TJ Group Plc sel...
freq,2878,2

In [149]:
headers=['Sentiment','News-line']
News.columns=headers

In [150]:
News['News-line']=News['News-line'].str.lower() #converting to lower case string
News['News-line']=News['News-line'].apply(lambda x:re.sub(r'[^\w\s]', '', x)) #removing punctuations
News['News-line']=News['News-line'].apply(lambda x:re.sub(r'[0-9]+', '', x)) #removing numbers
News['News-line']=News['News-line'].apply(lambda x: word_tokenize(x))  # Tokenization

In [151]:
News.head()

  Sentiment                                          News-line
0   neutral  [technopolis, plans, to, develop, in, stages, ...
1  negative  [the, international, electronic, industry, com...
2  positive  [with, the, new, production, plant, the, compa...
3  positive  [according, to, the, company, s, updated, stra...
4  positive  [financing, of, aspocomp, s, growth, aspocomp,...

In [152]:
stop_words=set(stopwords.words('english'))
News['News-line']=News['News-line'].apply(lambda x:[word for word in x if word not in stop_words])

In [153]:
News

     Sentiment                                          News-line
0      neutral  [technopolis, plans, develop, stages, area, le...
1     negative  [international, electronic, industry, company,...
2     positive  [new, production, plant, company, would, incre...
3     positive  [according, company, updated, strategy, years,...
4     positive  [financing, aspocomp, growth, aspocomp, aggres...
...        ...                                                ...
4840  negative  [london, marketwatch, share, prices, ended, lo...
4841   neutral  [rinkuskiai, beer, sales, fell, per, cent, mil...
4842  negative  [operating, profit, fell, eur, mn, eur, mn, in...
4843  negative  [net, sales, paper, segment, decreased, eur, m...
4844  negative  [sales, finland, decreased, january, sales, ou...

[4845 rows x 2 columns]

In [154]:
stemmer=PorterStemmer()
News['News-line']=News['News-line'].apply(lambda x:[stemmer.stem(word) for word in x])

In [155]:
lemmetizer=WordNetLemmatizer()
News['News-line']=News['News-line'].apply(lambda x:[lemmetizer.lemmatize(word)for word in x])

In [156]:
News.head()

  Sentiment                                          News-line
0   neutral  [technopoli, plan, develop, stage, area, le, s...
1  negative  [intern, electron, industri, compani, elcoteq,...
2  positive  [new, product, plant, compani, would, increas,...
3  positive  [accord, compani, updat, strategi, year, baswa...
4  positive  [financ, aspocomp, growth, aspocomp, aggress, ...

In [157]:
nltk.download("sentiwordnet")
nltk.download("punkt")
nltk.download("averaged_perceptron_tagger")

''' def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith("J"):
        return swn.ADJ
    elif treebank_tag.startswith("V"):
        return swn.VERB
    elif treebank_tag.startswith("N"):
        return swn.NOUN
    elif treebank_tag.startswith("R"):
        return swn.ADV
    else:
        return None'''

[nltk_data] Error loading sentiwordnet: <urlopen error [WinError
[nltk_data]     10060] A connection attempt failed because the
[nltk_data]     connected party did not properly respond after a
[nltk_data]     period of time, or established connection failed
[nltk_data]     because connected host has failed to respond>
[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>
[nltk_data] Error loading averaged_perceptron_tagger: <urlopen error
[nltk_data]     [WinError 10060] A connection attempt failed because
[nltk_data]     the connected party did not properly respond after a
[nltk_data]     period of time, or established connection failed
[nltk_data]     because connected host has failed to respond>

' def get_wordnet_pos(treebank_tag):\n    if treebank_tag.startswith("J"):\n        return swn.ADJ\n    elif treebank_tag.startswith("V"):\n        return swn.VERB\n    elif treebank_tag.startswith("N"):\n        return swn.NOUN\n    elif treebank_tag.startswith("R"):\n        return swn.ADV\n    else:\n        return None'

In [158]:
sentiment_score=[]