In [114]:
import numpy as np
import pandas as pd
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag

In [115]:
News=pd.read_csv('FinancialPhraseBank.csv',encoding='latin-1')

In [116]:
News.head()

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
0,neutral,Technopolis plans to develop in stages an area...
1,negative,The international electronic industry company ...
2,positive,With the new production plant the company woul...
3,positive,According to the company 's updated strategy f...
4,positive,FINANCING OF ASPOCOMP 'S GROWTH Aspocomp is ag...

In [117]:
News.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4845 entries, 0 to 4844
Data columns (total 2 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   neutral                                                                                                                          4845 non-null   object
 1   According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing .  4845 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [118]:
News.describe()

,neutral,"According to Gran , the company has no plans to move all production to Russia , although that is where the company is growing ."
count,4845,4845
unique,3,4837
top,neutral,TELECOMWORLDWIRE-7 April 2006-TJ Group Plc sel...
freq,2878,2

In [119]:
headers=['Sentiment','News-line']
News.columns=headers

In [120]:
News['News-line']=News['News-line'].str.lower() #converting to lower case string
News['News-line']=News['News-line'].apply(lambda x:re.sub(r'[^\w\s]', '', x)) #removing punctuations
News['News-line']=News['News-line'].apply(lambda x:re.sub(r'[0-9]+', '', x)) #removing numbers
News['News-line']=News['News-line'].apply(lambda x: word_tokenize(x))  # Tokenization

In [121]:
News.head()

  Sentiment                                          News-line
0   neutral  [technopolis, plans, to, develop, in, stages, ...
1  negative  [the, international, electronic, industry, com...
2  positive  [with, the, new, production, plant, the, compa...
3  positive  [according, to, the, company, s, updated, stra...
4  positive  [financing, of, aspocomp, s, growth, aspocomp,...

In [122]:
stop_words=set(stopwords.words('english'))
News['News-line']=News['News-line'].apply(lambda x:[word for word in x if word not in stop_words])

In [123]:
News

     Sentiment                                          News-line
0      neutral  [technopolis, plans, develop, stages, area, le...
1     negative  [international, electronic, industry, company,...
2     positive  [new, production, plant, company, would, incre...
3     positive  [according, company, updated, strategy, years,...
4     positive  [financing, aspocomp, growth, aspocomp, aggres...
...        ...                                                ...
4840  negative  [london, marketwatch, share, prices, ended, lo...
4841   neutral  [rinkuskiai, beer, sales, fell, per, cent, mil...
4842  negative  [operating, profit, fell, eur, mn, eur, mn, in...
4843  negative  [net, sales, paper, segment, decreased, eur, m...
4844  negative  [sales, finland, decreased, january, sales, ou...

[4845 rows x 2 columns]

In [124]:
stemmer=PorterStemmer()
News['News-line']=News['News-line'].apply(lambda x:[stemmer.stem(word) for word in x])

In [125]:
lemmetizer=WordNetLemmatizer()
News['News-line']=News['News-line'].apply(lambda x:[lemmetizer.lemmatize(word)for word in x])

df=[]
df=News['News-line']

In [126]:
News.head()

  Sentiment                                          News-line
0   neutral  [technopoli, plan, develop, stage, area, le, s...
1  negative  [intern, electron, industri, compani, elcoteq,...
2  positive  [new, product, plant, compani, would, increas,...
3  positive  [accord, compani, updat, strategi, year, baswa...
4  positive  [financ, aspocomp, growth, aspocomp, aggress, ...

In [127]:
print(News['News-line'].dtype)
News['News-line'] = News['News-line'].astype(str)
#print(News['News-line'].dtype)

object

In [130]:
from nltk.corpus import sentiwordnet as swn
import nltk
nltk.download('sentiwordnet')

# Define a function to calculate the sentiment score of a review
def calculate_senti_score(text):
    tokens = nltk.word_tokenize(text)
    pos_score = 0
    neg_score = 0
    obj_score = 0

    for token in tokens:
        synsets = list(swn.senti_synsets(token))
        if synsets:
            pos_score += synsets[0].pos_score()
            neg_score += synsets[0].neg_score()
            obj_score += synsets[0].obj_score()

    return pos_score - neg_score

# Apply the sentiment score calculation
News['senti_score'] = News['News-line'].apply(calculate_senti_score)

[nltk_data] Error loading sentiwordnet: <urlopen error [WinError
[nltk_data]     10061] No connection could be made because the target
[nltk_data]     machine actively refused it>

In [131]:
print(News['senti_score'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4840    0.0
4841    0.0
4842    0.0
4843    0.0
4844    0.0
Name: senti_score, Length: 4845, dtype: float64

In [136]:
# Create a dataframe from the data
df = pd.DataFrame(News['senti_score'])

# Specify the file path where you want to save the CSV
file_path = "output.csv"

# Save the dataframe to a CSV file
df.to_csv(file_path, index=True)

print(f"Dataframe has been written to {file_path}")

Dataframe has been written to output.csv